body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    background-color: #000000;
}

.line-container {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.line1 {
    background-color: red;
    height: 1px;
    flex: 1;
    margin-right: 25px;
}

.text h1 {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    font-family: "Red Hat Display", sans-serif;
}

.line2 {
    background-color: red;
    height: 1px;
    flex: 4;
    opacity: 0;
    margin-left: 10px;
}

.container1 {
    padding: 20px 140px;
}

.concert1 {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 20px;
}

.fancon-image {
    width: 50%;
    position: relative;
    cursor: pointer;
    justify-content: right;
    align-items: center;
    margin-top: 40px;
}

.fancon-image img {
    width: 85%;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.fancon-image:hover img {
    opacity: 0.9;
    transform: scale(1.05);
    cursor: pointer;
}

.fancon-text {
    width: 50%;
    font-family: "Red Hat Display", sans-serif;
    color: #ffffff;
    align-items: flex-end;
    margin-top: 80px;
    text-align: left;
}

.fancon-text h1 {
    font-size: 56px;
    color: #d6d6d6;
}

.fancon-text h1:hover {
    color: #ebebeb;
    cursor: pointer;
}

.fancon-text .line {
    background-color: #f1f1f1;
    height: 0.5px;
    width: 550px;
    margin-bottom: 20px;
}

.fancon-text h2 {
    font-size: 26px;
    color: #b1b1b1;
    margin-top: 20px;
}

.fancon-text h2:hover {
    color: #ebebeb;
    cursor: pointer;
}

.fancon-text p {
    font-size: 16px;
    color: #d6d6d6;
    margin-top: 20px;
}

.fancon-text p:hover {
    color: #ebebeb;
    cursor: pointer;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px 120px;
    margin-bottom: 20px;
}

.container2 .concert {
    width: 21%;
}

.concert img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.concert:hover img {
    transform: rotateY(18deg);
    cursor: pointer;
}

.info {
    color: #f3f3f3;
    margin-top: 10px;
    text-align: left;
    font-family: "Red Hat Display", sans-serif;
    margin-top: -10px;
}

.info h1 {
    font-size: 16px;
    color: #ffffff;
    margin-top: 30px;
}

.info p {
    font-size: 14px;
    color: #ffffff;
    margin-top: -5px;
}

@media screen and (max-width: 1170px) {

    .fancon-text h1 {
        font-size: 36px;
    }

    .fancon-text .line {
        width: 450px;
    }

    .fancon-text h2 {
        font-size: 22px;
    }

    .fancon-text p {
        font-size: 14px;
    }

}

@media screen and (max-width: 980px) {

    .container1 {
        padding: 20px 80px;
    }

    .fancon-image img {
        width: 90%;
    }

    .fancon-text h1 {
        font-size: 28px;
    }

    .fancon-text .line {
        width: 350px;
    }

    .fancon-text h2 {
        font-size: 16px;
    }

    .fancon-text p {
        font-size: 12px;
    }

    .container2 {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 20px 80px;
        margin-bottom: 20px;
    }

    .container2 .concert {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {

    .container1 {
        padding: 20px 40px;
    }

    .concert1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .fancon-image {
        width: 60%;
        cursor: pointer;
        margin-top: 30px;
    }

    .fancon-text {
        width: 70%;
        margin-top: 0px;
        text-align: center;
    }

    .fancon-image img {
        width: 100%;
    }

    .fancon-text h1 {
        font-size: 32px;
    }

    .fancon-text .line {
        width: 470px;
    }

    .fancon-text h2 {
        font-size: 20px;
    }

    .fancon-text p {
        font-size: 16px;
    }

    .container2 {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 20px 80px;
        margin-bottom: 20px;
    }

    .container2 .concert {
        width: 60%;
    }
}