body {
    margin: 0;
    padding: 0;
}

.irene {
    align-items: center;
    text-align: center;
    color: #740000;
    padding: 20px 100px;
}

.image {
    display: flex;
    min-height: 700px;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.container1 {
    background-image: url(../image/irene1.jpg);
    min-height: 700px;
    width: 33.3%;
    background-size: cover;
    background-position: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    width: 33.3%;
    gap: 20px;
}

.sub-container1 {
    background-image: url(../image/irene2.jpg);
    min-height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.sub-container2 {
    background-image: url(../image/irene3.jpg);
    min-height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container3 {
    background-image: url(../image/irene4.jpg);
    min-height: 700px;
    width: 33.3%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {

    .irene {
        align-items: center;
        text-align: center;
        color: #740000;
        padding: 20px 60px;
    }

    .image {
        flex-direction: column;
        min-height: 700px;
        width: 100%;
        gap: 20px;
    }

    .container1 {
        min-height: 700px;
        width: 100%
    }

    .container2 {
        min-height: 700px;
        width: 100%
    }

    .container3 {
        min-height: 700px;
        width: 100%
    }
}