body {
    margin: 0;
    padding: 0;
}

.joy {
    align-items: center;
    text-align: center;
    color: #740000;
    padding: 10px 100px;
}

.h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.image {
    display: flex;
    min-height: 1000px;
    width: 100%;
    gap: 20px;
}

.container1 {
    min-height: 1000px;
    width: 33.3%;
}

.sub-container1 {
    background-image: url(../image/joy1.jpg);
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.sub-container1:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.sub-container2 {
    background-image: url(../image/joy5.jpg);
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.sub-container2:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.container2 {
    min-height: 1000px;
    width: 33.3%;
}

.sub-container3 {
    background-image: url(../image/joy2.jpg);
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.sub-container3:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.sub-container4 {
    background-image: url(../image/joy4.jpg);
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.sub-container4:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.container3 {
    min-height: 1000px;
    width: 33.3%;
}

.sub-container5 {
    background-image: url(../image/joy3.jpg);
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.sub-container5:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.sub-container6 {
    background-image: url(../image/joy6.jpg);
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.sub-container6:hover {
    transform: scale(0.95);
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .joy {
        align-items: center;
        text-align: center;
        color: #740000;
        padding: 10px 60px;
    }

    .image {
        flex-direction: column;
        min-height: 1000px;
        width: 100%;
        gap: 20px;
    }

    .container1 {
        min-height: 500px;
        width: 100%
    }

    .container2 {
        min-height: 500px;
        width: 100%
    }

    .container3 {
        min-height: 500px;
        width: 100%
    }

}