body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    background-color: #000000;
}

.line-container {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.line1 {
    background-color: red;
    height: 1px;
    flex: 1;
    margin-right: 25px;
}

.text h1 {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    font-family: "Red Hat Display", sans-serif;
}

.line2 {
    background-color: red;
    height: 1px;
    flex: 4;
    opacity: 0;
    margin-left: 10px;
}

.container2 {
    padding: 20px 140px;
    margin-bottom: 10px;
}

.chill-kill {
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    gap: 20px;
}

.chill-kill-image {
    width: 50%;
    position: relative;
    cursor: pointer;
}

.chill-kill-image img {
    width: 100%;
    transition: opacity 0.2s ease;
}

.chill-kill-image:hover img {
    opacity: 0.65;
}

.tracklist1 {
    position: absolute;
    top: 8px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Red Hat Display", sans-serif;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0s linear 0.2s;
}

.chill-kill-image:hover .tracklist1 {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0s linear 0s;
}

.tracklist1 p:hover {
    color: #252525;
    font-weight: 600;
    transition: all 0.3 ease;
}

.chill-kill-text {
    width: 50%;
    font-family: "Red Hat Display", sans-serif;
    color: #ffffff;
    justify-content: left;
}

.chill-kill-text h1 {
    font-size: 62px;
    color: #d6d6d6;
}

.chill-kill-text h1:hover {
    color: #ebebeb;
    cursor: pointer;
}

.chill-kill-text h2 {
    font-size: 23px;
    font-weight: 400;
    margin-top: -45px;
    color: #d4d4d4;
}

.chill-kill-text h2:hover {
    cursor: pointer;
}

.chill-kill-text p {
    font-size: 22px;
    margin-bottom: 10px;
    color: #c6c6c6;
}

.chill-kill-text p:hover {
    cursor: pointer;
}

.chill-kill-text .line {
    background-color: #ffffff;
    height: 0.65px;
    width: 600px;
    align-items: center;
    margin-bottom: 20px;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px 140px;
    margin-bottom: 20px;
}

.music {
    position: relative;
}

.music img {
    width: 270px;
    display: block;
    transition: opacity 0.2s ease;
}

.music:hover img {
    opacity: 0.7;
}

.info {
    color: #f3f3f3;
    margin-top: 10px;
    text-align: left;
    font-family: "Red Hat Display", sans-serif;
    margin-top: -10px;
}

.info h5 {
    font-size: 18px;
    font-weight: bold;
}

.info p {
    font-size: 14px;
    color: #c5c5c5;
    margin-top: -24px;
}

.tracklist {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    align-items: center;
    padding: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0s linear 0.2s;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

.music:hover .tracklist {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.tracklist h2 {
    color: #1d1d1d;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

.tracklist p {
    color: #3f3f3f;
    font-size: 18px;
}

.container4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px 140px;
}

.container5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px 140px;
}

@media screen and (max-width: 1220px) {

    .chill-kill {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .chill-kill-text .line {
        background-color: #ffffff;
        height: 0.65px;
        width: 400px;
        align-items: center;
        margin-bottom: 20px;
    }

    .tracklist1 {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.8);
        font-family: "Red Hat Display", sans-serif;
        padding: 20px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0s linear 0.2s;
    }

}

@media screen and (max-width: 768px) {

    .chill-kill {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .container2,
    .container3,
    .container4,
    .container5 {

        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px 50px;
    }

    .chill-kill-text .line {
        background-color: #ffffff;
        height: 0.65px;
        width: 300px;
        margin-bottom: 20px;
    }

    .music img {
        width: 50%;
        display: block;
        transition: opacity 0.2s ease;
    }
}